.profile {
  width: 25%;
  background-color: rgba(30, 50, 75, 0.9);
  height: fit-content;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 2rem 0;
  font-size: 1.5rem;
  color: white;
}

.profile-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.profile-img {
  width: 60%;
  height: auto;
  border-radius: 100%;
}

.username {
  font-size: 2.5rem;
  font-weight: bold;
}

.fullname {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.location {
  margin-bottom: 1rem;
}

.bio {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.follower-following {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 60%;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.followers,
.following {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.website {
  font-size: 3rem;
}
