.App {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 2rem 0;
  gap: 2rem;
  color: rgba(255, 255, 255, 0.8);
}

a {
  text-decoration: none;
  color: rgba(30, 50, 75, 0.9);
}

a:hover {
  color: rgba(30, 50, 75, 0.6);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.error,
.loading,
.info {
  color: black;
  font-size: 2rem;
  font-weight: 500;
}

@media screen and (min-width: 1024px) {
  .main {
    flex-direction: row;
    align-items: self-start;
  }
}
